a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24292f;
  padding: 14px 32px;
}

.menu {
  display: flex;
  align-items: center;
}

.header .menu .logo a svg {
  fill: white;
}

.header .menu .logo a svg:hover {
  fill: rgba(255, 255, 255, 0.7);
}

.header .menu .search {
  margin: 0 15px;
  align-content: center;
  border: 1px solid #57606a;
  border-radius: 6px;
  display: flex;
  padding: 4px 3px 4px 10px;
  transition: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}

.header .menu .search:focus-within {
  transition: 0.1s 0;
  background-color: white;
}

.header .menu .search input {
  outline: none;
  width: 230px;
  color: white;
  background-color: transparent;
  box-shadow: none;
  border: none;
  transition: 0.1s linear;
}

.header .menu .search input:focus {
  width: 400px;
  color: black;
}

.header .menu .search input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.header .menu .search input:focus + svg {
  /* opacity: 0; 자리는 차지하고 보이지 않지만, 클릭 가능 */
  /* visibility : 자리 차지하고 보이지 않고, 클릭도 불가능 */
  visibility: hidden;
}

.header .menu .nav ul {
  display: flex;
}

.header .menu .nav ul li a {
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  color: white;
}

.header .menu .nav ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.header .icon {
  display: flex;
  align-items: center;
}

.header .icon ul {
  display: flex;
  align-items: center;
}

.header .icon ul li {
  position: relative;
}

.header .icon ul li + li {
  margin-left: 15px;
}

.header .icon ul li:nth-child(2) {
  padding-right: 13px;
}

.header .icon ul li:nth-child(2)::after {
  content: "";
  display: block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 35%;
  left: 50%;
}

.header .icon ul li:nth-child(3)::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #24292f;
  border-radius: 50%;
  background-color: #218bff;
  position: absolute;
  top: -5px;
  right: -7px;
}

.header .icon ul li a {
  width: 32px;
  height: 32px;
}

.header .icon ul li a svg {
  fill: white;
}

.header .icon ul li a svg:hover {
  fill: rgba(255, 255, 255, 0.7);
}

.header .icon ul li a img {
  border-radius: 50%;
}

.container {
  display: flex;
  height: 100vh;
}

.container aside {
  border-right: 1px solid hsla(210, 18%, 87%, 1);
  flex: 1;
  justify-content: center;
  align-items: stretch;
  padding: 30px;
}

.container aside .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container aside .box h2 {
  font-size: 13px;
  font-weight: 700;
}

.container aside .box a {
  font-size: 13px;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 5px;
  background-color: #2da44e;
  color: white;
  padding: 5px 12px;
}

.container aside .box a:hover {
  background-color: #2c974b;
}

.container aside .box a svg {
  fill: rgba(255, 255, 255, 0.8);
  margin-right: 5px;
}

.container aside .find {
  margin: 10px 0 20px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  background-color: #f6f8fa;
  padding: 5px 3px 5px 10px;
}

.container aside .find input {
  outline: none;
  width: 210px;
  color: black;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.container aside .find:focus-within {
  background-color: white;
  outline: 2px solid #0969da;
}

.container aside .find input {
  width: 100%;
}

.container aside .fileList ul li {
  display: flex;
  margin-bottom: 10px;
}

.container aside .fileList ul:nth-last-child(1) {
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.container aside .fileList ul li a:hover {
  text-decoration: underline;
}

.container aside .fileList ul li a:nth-child(1) {
  margin-right: 10px;
  border-radius: 50%;
}

.container aside .fileList ul li a img:nth-child(1) {
  border-radius: 50%;

  border: 1px solid rgba(27, 31, 36, 0.15);
}

.container aside .bottom h2 {
  padding: 20px 0;
  font-weight: 700;
  font-size: 15px;
}
.container aside .bottom p {
  font-size: 13px;
  line-height: 20px;
  color: #57606a;
}

.container main {
  display: flex;
  padding: 30px;
  flex: 3;
  background-color: #f6f8fa;
  align-items: stretch;
}

.container main .tabList {
  margin-bottom: 15px;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.container main .tabList ul {
  display: flex;
}

.container main .tabList ul li {
  height: 35px;
  position: relative;
}

.container main .tabList ul li.active::after {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: orange;
  border-radius: 1px;
  bottom: -1px;
}

.container main .tabList ul li + li {
  margin-left: 10px;
}

.container main .tabList ul li button {
  cursor: pointer;
  border: none;
  border-radius: 7px;
  background-color: transparent;
  padding: 7px;
}

.container main .tabList ul li.active button {
  background-color: rgba(208, 215, 222, 0.32);
  font-weight: 700;
}

.container main .tabList ul li button:hover {
  background-color: rgba(208, 215, 222, 0.32);
}

.container main .tabList ul li button span {
  border: 1px solid #2da44e;
  color: #1a7f37;
  border-radius: 10px;
  margin-left: 10px;
  padding: 3px 5px;
  font-size: 11px;
  font-weight: 700;
}

.container main .panel .notice {
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 5px;
  background-color: white;
  padding: 20px 15px;
}

.container main .panel .notice .title {
  margin-bottom: 10px;
}

.container main .panel .notice .title h3 {
  font-weight: 700;
}

.container main .panel .notice .title p {
  line-height: 25px;
}

.container main .panel .notice .introduce {
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.container main .panel .notice .introduce .pTitle {
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  padding: 20px 15px;
}

.container main .panel .notice .introduce .pBox {
  padding: 10px 15px;
  background-color: #f6f8fa;
}

.container main .panel .notice .introduce .pBox li + li {
  padding-top: 10px;
}

.container main .panel .notice .button {
  display: flex;
  justify-content: flex-end;
}

.container main .panel .notice .button ul {
  display: flex;
}

.container main .panel .notice .button ul li a {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid hsla(210, 18%, 87%, 1);
}

.container main .panel .notice .button ul li:nth-child(2) a {
  background-color: #2c974b;
  color: white;
  margin-left: 10px;
  border: 1px solid rgba(27, 31, 36, 0.15);
}

.container main .panel .box {
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  margin-top: 30px;
}

.container main .panel .box h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 10px;
}

.container main .panel .box p {
  line-height: 23px;
  margin-bottom: 10px;
}

.container main .panel .box p a {
  color: #0969da;
}

.container main .panel .box p a:hover {
  text-decoration: underline;
}

.container main .panel .box .button {
  margin-top: 15px;
}

.container main .panel .box .button a {
  display: inline-block;
  font-weight: 700;
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 5px;
  background-color: #f6f8fa;
  color: #0969da;
  padding: 7px 15px;
}

.container main .panel .box .button a:hover {
  color: #fff;
  border-color: rgba(27, 31, 36, 0.15);
  background-color: #0969da;
}

.container main .panel .tipBox {
  margin-top: 25px;
  color: #57606a;
}

.container main .panel .tipBox p svg {
  fill: #57606a;
}

.container main .panel .tipBox p strong {
  font-weight: 700;
}

.container main .panel .tipBox p a {
  color: #0969da;
}

.container main .panel .tipBox p a:hover {
  text-decoration: underline;
}

.container main .panel .tipBox .subscribe {
  margin: 10px 0;
}

.container main .panel .tipBox .subscribe a:hover {
  text-decoration: underline;
  color: #0969da;
}

.container main .panel .tipBox .subscribe a svg {
  fill: #57606a;
  margin-right: 7px;
}

.container main .bottomMenu {
  display: flex;
  margin: 32px 0;
  color: #57606a;
  align-items: flex-start;
}

.container main .bottomMenu svg {
  fill: #57606a;
}

.container main .bottomMenu .logo {
  flex: 1;
}
.container main .bottomMenu .logo a {
  display: flex;
  align-items: center;
}

.container main .bottomMenu .logo a div svg {
  margin-right: 10px;
}

.container main .bottomMenu .menu {
  display: flex;
  flex: 1;
  align-items: stretch;
}
.container main .bottomMenu .menu ul {
  padding-left: 30px;
}
.container main .bottomMenu .menu ul li {
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.container main .bottomMenu .menu ul li a:hover {
  text-decoration: underline;
  color: #0969da;
}

.container main .mainRight {
  padding-left: 40px;
}

.container main .mainRight .dashboard h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0 20px 0;
}

.container main .mainRight .dashboard ul li {
  display: flex;
  justify-content: flex-start;
}

.container main .mainRight .dashboard ul li .item {
  margin-right: 25px;
  margin-top: 17px;
  position: relative;
}

.container main .mainRight .dashboard ul li:nth-child(1) .item {
  margin-top: 0;
}

.container main .mainRight .dashboard ul li::before {
  content: "";
  border-left: 1px solid #d0d7de;
}
.container main .mainRight .dashboard ul li .item svg {
  position: absolute;
  top: -4px;
  left: -8px;
  fill: #d0d7de;
  width: 17px;
  height: 17px;
}

.container main .mainRight .dashboard ul li:nth-child(5) .item svg {
  display: none;
}

.container main .mainRight .dashboard ul li .content p {
  color: #57606a;
  font-size: 13px;
  margin: 15px 0 7px 0;
}

.container main .mainRight .dashboard ul li:nth-child(1) .content p {
  margin-top: 0;
}

.container main .mainRight .dashboard ul li:nth-child(5) a {
  color: #57606a;
  font-size: 13px;
  margin-top: 15px;
}

.container main .mainRight .dashboard ul li a:hover {
  text-decoration: underline;
  color: #0969da;
}

.container main .mainRight .dashboard ul li:nth-child(5) a:hover {
  text-decoration: none;
}
