.container {
  width: 500px;
  height: 300px;
  background-color: #999;
  margin: 100px auto 0;
}

.box {
  width: 50px;
  height: 50px;
  background-color: red;
  animation-name: moveRight;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
}

@keyframes moveRight {
  /* from {
    transform: translateX(0);
  }
  to {
    transform: translate(300px) scale(1.1);
  } */
  0% {
    top: 0;
  }
  50% {
    top: 250px;
  }
  70% {
    top: 200px;
  }
  100% {
    top: 250px;
    background-color: black;
  }
}
