@media all and (max-width: 800px) {
  .nav .menu span {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    overflow: hidden;
  }

  .nav ul:hover {
    overflow: visible;
  }

  .nav ul li {
    width: 250px;
  }

  .container ul {
    flex-direction: column;
    align-items: center;
  }

  .container ul li + li {
    margin-top: 30px;
  }

  .container ul li a {
    width: 240px;
    height: 280px;
  }

  .background ul li {
    background-size: 600px;
  }

  .chatButton a img {
    right: 90px;
    bottom: 100px;
  }
}
