.parent {
  background-color: #888;
}

.parent h1 {
  margin-bottom: 10px;
}

.parent > p {
  /* parent 바로 밑에 있는 p 태그(즉, 아빠)의 속성만 변경 */
  color: red;
}

.parent .son > p {
  color: white;
}

.sibling h2 + p {
  color: red;
}

.sibling h2 ~ p {
  background-color: aqua;
}
