.clearFix::after {
  display: block;
  content: "";
  clear: both;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  background-color: #888;
  display: flex;
  justify-content: center;
}

.container .nav {
  display: flex;
  background-color: #777;
}

.container .nav li {
  padding: 15px 0;
}

.container .nav li a {
  padding: 12px 30px;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 1s;
}

.container .nav li a:hover {
  background-color: #999;
  color: white;
}

.background h2 {
  display: flex;
  justify-content: center;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 50px;
  margin: 80px 0 100px;
  font-weight: 700;
}

.main {
  display: flex;
  justify-content: center;
}

.background .box1 {
  width: 200px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/1.jpg);
  background-position: center;
  transition-property: all;
  transition-duration: 0.5s;
}
.background .box2 {
  width: 200px;
  height: 240px;
  margin: 0 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/2.jpg);
  background-position: center;
  transition-property: width height;
  transition-duration: 0.5s;
}
.background .box3 {
  width: 200px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/3.jpg);
  background-position: center;
  transition-property: all;
  transition-duration: 0.5s;
}

.background .box4 {
  height: 500px;
  clear: both;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/1.jpg);
  margin-top: 500px;
  background-attachment: fixed;
  background-position: center;
}

.background .box5 {
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/2.jpg);
  margin-top: 300px;
  background-attachment: fixed;
  background-position: right;
}

.background .box6 {
  height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/6.jpg);
  margin-top: 300px;
  background-attachment: fixed;
  background-position: left;
}

.background .box1:hover,
.background .box2:hover,
.background .box3:hover {
  background-size: 120%;
}

.button a {
  width: 60px;
  height: 60px;
  background-image: url(../images/8679344_kakao_talk_icon.png);
  background-size: contain;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top: 750px;
  left: 1600px;
}

.button a:nth-child(2) {
  opacity: 0;
  background-image: url(../images/8679415_kakao_talk_fill_icon.png);
  transition-duration: 0.7s;
}

.button a:nth-child(2):hover {
  opacity: 1;
}

/* .popupBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
} */

.popupBackground .popup {
  width: 500px;
  height: 350px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  overflow: hidden;
}

.popupBackground .popup h2 {
  font-family: "GangwonEdu_OTFBoldA";
  text-align: center;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}

.popupBackground .popup p {
  text-align: left;
  font-family: "GangwonEdu_OTFBoldA";
  padding: 15px;
}

.popup svg {
  position: absolute;
  bottom: -50px;
  animation-name: wave;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-play-state: paused; */
  opacity: 0.5;
}

.popup svg:nth-child(3) {
  animation-direction: alternate-reverse;
}

@keyframes wave {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-800px);
  }
}
