@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "S-CoreDream-4Regular";
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 60px;
  position: relative;
  overflow: hidden;
}

header:hover .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo a {
  display: block;
  height: 60px;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .logo a img {
  width: 89px;
  height: 44px;
  display: inline-block;
}

header .inline {
  width: 105px;
  height: 100%;
}

header .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

header .mainMenu nav {
  height: 100%;
}

header .mainMenu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

header .mainMenu nav ul li {
  width: 180px;
}

header .mainMenu nav ul li > a {
  display: block;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .mainMenu nav ul li > a:hover {
  color: rgba(49, 51, 57, 0.5);
}

header .subMenu {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 240px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 999;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: rgba(238, 241, 247, 0.95);
}

header .subMenu ul {
  width: 180px;
}

header .subMenu ul li {
  text-align: center;
  line-height: 1.8;
}

header .subMenu ul li a {
  display: block;
  color: #666;
  font-size: 14px;
  font-family: "S-CoreDream-4Regular";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .visual .slideShow {
  width: 100%;
  height: 600px;
  background-color: #e8e8e8;
  position: relative;
  overflow: hidden;
}

main .visual .slideShow .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .visual .slideShow .slides img {
  height: 100%;
}

main .visual .slideShow .slideBtn button {
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: #fff;
  outline: none;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .visual .slideShow .slideBtn button.prev {
  left: 20px;
}

main .visual .slideShow .slideBtn button.next {
  right: 20px;
}

main .visual .slideShow .slideControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95px;
  height: 20px;
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .visual .slideShow .slideControls span {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
}

main .visual .btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .visual .btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1280px;
  height: 100%;
}

main .visual .btn {
  display: block;
  width: 256px;
  text-align: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main .visual .topMenu {
  height: 90px;
  background-color: #313339;
}

main .visual .topMenu ul.btnGroup li a.btn {
  height: 90px;
  line-height: 90px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}

main .visual .topMenu ul.btnGroup li a.btn:hover {
  color: #313339;
  background-color: rgba(255, 255, 255, 0.9);
}

main .visual .bottomMenu {
  height: 46px;
  background-color: #fed400;
}

main .visual .bottomMenu ul.btnGroup li a {
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  color: #313339;
}

main .visual .bottomMenu ul.btnGroup li a:hover {
  color: #fff;
  background-color: rgba(49, 51, 57, 0.9);
}

main .visual .tel {
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
}

main .visual .tel strong {
  font-size: 1.286em;
  font-weight: 700;
}

main .visual .tel span {
  font-size: 1.286em;
  color: #818389;
}
/*# sourceMappingURL=neppplus.css.map */