.slideShow {
  width: 800px;
  height: 500px;
  background-color: antiquewhite;
  margin: 130px auto 0;
  overflow: hidden;
  position: relative;
}

.slideShow .slides {
  display: flex;
  width: 2400px;
  height: 100%;
  transform: translateX(0);
  transition-duration: 0.5s;
}

.slideShow .slides li {
  width: 100%;
  background: center / cover url(../12/images/s1.jpg);
}

.slideShow .slides li:nth-child(2) {
  background-image: url(../12/images/s2.jpg);
}

.slideShow .slides li:nth-child(3) {
  background-image: url(../12/images/s3.png);
}

.slideShow .btns button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  padding: 0 10px;
  border: none;
  background: none;
  height: 100%;
  transition: all 0.5s;
}

.slideShow .btns button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slideShow .btns button.prev {
  left: 0;
}

.slideShow .btns button.next {
  right: 0;
}
