a {
  color: inherit;
  text-decoration: none;
}

/* header */
header {
  display: flex;
  /* height: 60px; */
  /* overflow: hidden; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

header a {
  font-family: "S-CoreDream-4Regular", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  transition-property: color;
  transition-duration: 0.3s;
}

header .gnbList {
  display: flex;
}

header .menu a:hover {
  color: rgba(49, 51, 57, 0.5);
}

header .menu a:hover {
  overflow: visible;
}

header .inline {
  width: 105px;
  height: 60px;
  line-height: 60px;
}

header .nav ul {
  display: flex;
}

header .nav ul li a {
  display: block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
