.box {
  display: flex;
  margin: 50px;
}

.container {
  display: block;
  width: 150px;
  height: 200px;
  perspective: 1000px;
}

.container + .container {
  margin-left: 60px;
}

.card {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card + .card {
  margin-top: 40px;
}

.card.active {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  color: azure;
  text-shadow: 1px 1px 3px black;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  /* 뒷면을 보여줄 것인가 */
  /* visi */
  backface-visibility: hidden;
  box-sizing: border-box;
}

.card .front {
  order: 2;
  background-color: lightblue;
  border: 1.5px solid rgb(151, 189, 202);
  transform: rotateY(180deg);
}

.card .back {
  order: 1;
  background-color: rgb(138, 157, 177);
  border: 1.5px solid rgb(122, 138, 155);
}
