body,
input,
button {
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  color: #202124;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 25px;
  font-size: 14px;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li + li {
  margin-left: 20px;
}

header .headerRight ul li.fontSize {
  font-size: 13px;
}

header .headerRight ul li:nth-child(4) {
  margin-left: 10px;
}

header .headerRight ul li span svg {
  fill: #5f6368;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
}

header .headerRight ul li span svg:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

header .headerRight ul li:nth-child(4) a {
  display: block;
  color: #fff;
  width: 48px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #1a73e8;
  border-radius: 4px;
  padding: 9px 23px;
}

header .headerRight ul li:nth-child(4) a:hover {
  background-color: #2b7de9;
}

/* main */
main .box {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .box + .box {
  margin-top: 30px;
}

main .box .search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  padding: 6px 8px 6px 14px;
  width: 580px;
}

main .box .search:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

main .box .search input {
  width: 100%;
  padding: 7px 0;
  outline: none;
  border: none;
}

main .box .search .pointer {
  cursor: pointer;
}

main .box .search svg {
  margin: 0 7px 0 20px;
  fill: #9aa0a6;
}

main .box .search svg:nth-child(1) {
  margin-left: 0;
  margin-right: 15px;
}

main .box .search img {
  margin-left: 10px;
}

main .box .search .toolBox {
  position: absolute;
  top: 50px;
  right: 32px;
  display: none;
}

main .box .search .toolBox .box {
  width: 70px;
  height: 30px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  background-color: rgb(45, 45, 45);
  border: 1px solid #fff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

main .box .search .toolBox span {
  display: block;
  width: 0;
  height: 0;
  border: 7px solid black;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

main .box .search .toolBox.active {
  display: block;
}

main .box .button span + span {
  margin-left: 10px;
}

main .box .button span a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  padding: 0 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

main .box .button span a:hover {
  outline: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%); /* 가로 거리, 세로 거리, 번짐 정도, 색상*/
}

/* footer */
footer {
  color: #70757a;
  background-color: #f2f2f2;
}

footer .top {
  padding: 15px 30px;
  font-size: 15px;
}

footer .bottom {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid #dadce0;
}

footer ul {
  display: flex;
}

footer ul li a {
  margin: 15px;
}
