a {
  color: inherit; /* 부모의 컬러를 상속 받음 */
  text-decoration: none;
  font-weight: bold;
}

.container {
  text-align: center;
  background-color: #888;
}

.nav {
  display: inline-block;
  /* height: 50px; */
  padding: 10px 0;
  background-color: #777;
}

.nav li {
  float: left;
  margin: 0 10px;
  color: #fff;
}

.nav li a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 90px;
  box-sizing: border-box;
}
