.container {
  width: 1000px;
  height: 1000px;
  background-color: #bbb;
  position: relative;
}

.inner {
  width: 500px;
  height: 300px;
  background-color: #999;
  /* position: relative; */
}

.box {
  /* position: static; 기본값. 문서의 원래 흐름에 위치. 이동 x */
  /* relative : static과 같이 원래 흐름에 위치(기준). 이동 o */
  /* absolute : 상위 요소 중 position 값이 static이 아닌 요소를 기준으로. */
  /* fixed : viewport 기준 */
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: #777;
  /* top: 100px; */
  bottom: 0;
}
